body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(234, 236, 236);
    color: azure;
    background-image: url(https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=338&ext=jpg&ga=GA1.1.1224184972.1711929600&semt=ais);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
width: 50%;
display: block;
/*Chicken Nugs*/
border: 3px black;
padding: 3px;
margin: auto;
margin-top: 5px;
margin-bottom: 5px;

}

a{
    color: rgb(36, 190, 36);
}

h3{
    border: dashed rgb(47, 173, 47) 1px;
}

.fav{
    font-family: cursive;
    color: rgb(242, 242, 242);
    font-weight: bold;
    border: slateblue dotted 2px;
    background-color: blueviolet;
    text-align: center;
}

.fav:hover{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-decoration: line-through;
    background-color: rgb(7, 99, 69);
}


